<!DOCTYPE html>
<html lang="en">
<head>
<title>Map Table</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/uploaddownloadfiles.js"></script>
</head>
<body>
    <table class="table">
        <thead>
          <tr><h3>Table already in the DB</h3>
            <th scope="col">Item</th>
            <th scope="col">Item</th>
            <th scope="col">Item</th>
            <th scope="col">Item</th>
          </tr>
        </tbody></table>
        <table class="table">
        <thead>
            <tr><h3>Table in the DB</h3>
              <th scope="col">Item</th>
              <th scope="col">Item</th>
              <th scope="col">Item</th>
              <th scope="col">Item</th>
            </tr>
          </tbody>

      </table>

		<div class="row">
			<div class="col-sm-7">
				<a href="/"  class="btn btn-info" role="button">Execute</a>
			</div>
</body>
</html>